---
layout: default
title: About
permalink: /about/
---

{% include little-header.html %}

<article class="blog-post">
    <h1>Hello!</h1>
    <div class="latin-name">
        Welcome to Spotted, a site about rad house plants and how to care for them.
        <br><br>
        This website is a personal project created by <a href="https://github.com/qjack001">Jack Guinane</a> and <a href="https://github.com/Ella-Minicola">Ella Minicola</a>. The orignal goal was to provide a simple blog that would allow us to share cool house plants and green spaces we spotted with each other. While on a walk through Grange Park, we decieded that we wanted to build a catalog of house plants too, each acompanied by a custom watercolour illustration.
    </div>
</article>

{% include footer.html %}