---
layout: default
title: About
permalink: /about/
---

{% include little-header.html %}

<article class="blog-post">
    <h1>Hello!</h1>
    <div class="latin-name">
        Welcome to Spotted, a site about rad houseplants and how to care for them. 
        <br><br>
        This website is a personal project created by Jack Guinane and Ella Minicola. The original intent was to provide a simple blog that would allow us to share cool houseplants we spotted with each other. While on a walk through Grange Park, we decided that we also wanted to build a catalog of plants, each accompanied by a custom watercolor illustration. The final result was this website, developed over the summer of 2018.
        <br><br>
    </div>
    <div style="max-width:550px;padding:30px;margin:auto;">
        <div style="height:20px;background-color:var(--background);clear:both;"></div>
        <img class="profile-pic" style="float:left;" src="/assets/images/DSCN3025.jpg" alt="Ella Minicola">
        <h2 style="font-family:var(--lydian);font-size:2rem;margin:0;">Ella</h2>
        <p class="profile-text">Ella Minicola is mostly into ocean life. She loves diving but occasionally emerges from the sea to paint her houseplants.</p>
        <div style="height:30px;background-color:var(--background);clear:both;"></div>
        <img class="profile-pic" style="float:right;" src="/assets/images/IMG_20180203_175107.jpg" alt="Jack Guinane">
        <h2 style="font-family:var(--lydian);font-size:2rem;margin:0;">Jack</h2>
        <p class="profile-text" style="float:left;text-align:right;">Jack Guinane is a 3rd-year Computer Science student. He enjoys design-driven product development and <a href="/assets/images/Screenshot_20180220-173926.jpg" style="color:var(--dark-green);">has always been "like this" about plants</a>.</p>
    </div>
</article>

{% include footer.html %}