@font-face 
{ 
    font-family: Lydian; 
    src: url("/Spotted/assets/fonts/Lydian/Lydian BT.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian Italic BT.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
} 

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian Bold BT.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
} 

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian-Bold-Italic-BT.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rl.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rm.ttf") format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rb.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-il.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-im.ttf") format('truetype');
    font-weight: medium;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-ib.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root 
{
    --background: #edffeb;
    --light-green: #2ab107;
    --dark-green: #006918;
    --black: #000000;
    --white: #ffffff;
    --soft-dark-green: rgba(0, 105, 24, 0.75);
    --soft-black: rgba(0, 0, 0, 0.75);
    --soft-white: rgba(255, 255, 255, 0.75);
    
    --logo-outline-thickness: 3;
    
    --bp-mobile: 600px;
    --bp-tablet: 600px;
    --bp-desktop: 1064px;
    
    --lydian: Lydian, serif;
    --apercu: Apercu, sans-serif;
}

html
{
    margin: 0;
    background-color: var(--background);
}

.little-nav
{
    display: inline;
    margin: 85px 0px 0px 0px;
    float: right;
}

nav > a, nav > p
{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1rem;
    display: inline;
    font-family: var(--lydian);
    transition: color 0.2s linear;
}

.big-nav > a, .big-nav > p
{
    color: var(--soft-white);
}

.little-nav > a, .little-nav > p
{
    color: var(--soft-dark-green);
}

.big-nav > a:hover
{
    color: var(--white);
}

.little-nav > a:hover
{
    color: var(--dark-green);
}

footer
{
    position: absolute;
    left: 0px;
    height: 20px;
    width: 90%;
    padding: 40px 5%;
    margin: 0;
    background-color: var(--dark-green);
}

footer p, footer a
{
    text-decoration: none;
    font-weight: 100;
    color: var(--soft-white);
    font-size: 0.8rem;
    display: inline;
    font-family: var(--apercu);
    transition: color 0.2s linear;
}

footer a
{
    text-decoration: underline;
}

footer a:hover
{
    color: var(--white);
}

footer span
{
    margin: 0px 20px;
    display: inline-block;
}

.catalog
{    
    cursor: pointer;
    width: 150px;
    height: 140px;
    float: left;
    border-radius: 30px;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
    transition: all 0.5s linear;
}

.catalog:hover
{
    -webkit-box-shadow: 0px 0px 30px 4px rgba(76,143,68,0.35);
    -moz-box-shadow: 0px 0px 30px 4px rgba(76,143,68,0.35);
    box-shadow: 0px 0px 30px 4px rgba(76,143,68,0.35);
}

.catalog > .image
{
    width: 100px;
    height: 100px;
    margin: 0px auto -4px auto;
    background-size: 100%;
    background-color: var(--background);
    background-blend-mode: multiply;
}

.catalog > h3
{
    font-style: italic;
    font-weight: 100;
    font-family: serif;
    font-size: 0.9rem;
}

.posts
{
    margin: 0px 40px 10px 40px;
    clear: both;
}