@font-face 
{ 
    font-family: Lydian; 
    src: url("/Spotted/assets/fonts/Lydian/Lydian BT.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian Italic BT.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
} 

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian Bold BT.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
} 

@font-face 
{ 
    font-family: Lydian;
    src: url("/Spotted/assets/fonts/Lydian/Lydian-Bold-Italic-BT.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rl.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rm.ttf") format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-rb.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-il.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-im.ttf") format('truetype');
    font-weight: medium;
    font-style: italic;
}

@font-face 
{
    font-family: Apercu; 
    src: url("/Spotted/assets/fonts/Apercu/a-ib.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root 
{
    --background: #efffed;
    --light-green: #2ab107;
    --dark-green: #006918;
    --black: #000000;
    --white: #ffffff;
    --soft-dark-green: rgba(0, 105, 24, 0.75);
    --soft-black: rgba(0, 0, 0, 0.75);
    --soft-white: rgba(255, 255, 255, 0.75);
    
    --logo-outline-thickness: 3;
    
    --bp-mobile: 600px;
    --bp-tablet: 600px;
    --bp-desktop: 1064px;
    
    --lydian: Lydian, serif;
    --apercu: Apercu, sans-serif;
}

html
{
    margin: 0;
    background-color: var(--background);
}

.little-nav
{
    display: inline;
    margin: 85px 0px 0px 0px;
    float: right;
}

nav > a, nav > p
{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1rem;
    display: inline;
    font-family: var(--lydian);
    transition: color 0.2s linear;
}

.big-nav > a, .big-nav > p
{
    color: var(--soft-white);
}

.little-nav > a, .little-nav > p
{
    color: var(--soft-dark-green);
}

.big-nav > a:hover
{
    color: var(--white);
}

.little-nav > a:hover
{
    color: var(--dark-green);
}

footer
{
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    padding: 40px 5%;
    margin: 0;
    background-color: var(--dark-green);
}

footer p, footer a
{
    text-decoration: none;
    font-weight: 100;
    color: var(--soft-white);
    font-size: 0.8rem;
    display: inline;
    font-family: var(--apercu);
    transition: color 0.2s linear;
}

footer a
{
    text-decoration: underline;
}

footer a:hover
{
    color: var(--white);
}

footer span
{
    margin: 0px 20px;
    display: inline-block;
}