<header>
    <div class="big-header">
       
        <a href="http://qjack001.github.io/Spotted"><img width="200px" src="../assets/logo/spotted-logo-white.png" draggable="false" alt="Spotted"></a>

        <nav class="big-nav">
            <a href="https://qjack001.github.io/Spotted/blog/">&nbsp; Blog &nbsp;</a> <!-- repace with actual links -->
            <p>&nbsp; / &nbsp;</p>
            <a href="https://qjack001.github.io/Spotted/">&nbsp; Catalog &nbsp;</a> 
            <p>&nbsp; / &nbsp;</p>
            <a href="https://qjack001.github.io/Spotted/about/">&nbsp; About &nbsp;</a> 
        </nav>

    </div>
</header>