<div style="height: 30px;background-color:var(--background);clear: both;"></div>
<footer>
    <p>&copy; Spotted 2018 <span>Developed by <a href="https://github.com/qjack001">Jack Guinane</a>, illustrations by <a href="https://github.com/Ella-Minicola">Ella Minicola</a></span> See project <a href="https://github.com/qjack001/Spotted">on Github</a></p>
</footer>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script>
            function getDocHeight() 
            {
                var D = document;
                return Math.max(
                    D.body.scrollHeight, D.documentElement.scrollHeight,
                    D.body.offsetHeight, D.documentElement.offsetHeight,
                    D.body.clientHeight, D.documentElement.clientHeight
                );
            }
            $(window).scroll(function() 
            {
                if($(window).scrollTop() + $(window).height() >= (getDocHeight() - 80))
                {
                    document.documentElement.style.backgroundColor = "var(--dark-green)";
                }
                else
                {
                    document.documentElement.style.backgroundColor = "var(--background)";
                }
            });
</script>