<header>
    <div class="little-header">
        
        <a href="http://qjack001.github.io/Spotted">
        <picture>
            <source srcset="../assets/logo/spotted-logo-green@2x.png 2x, ../assets/logo/spotted-logo-green.png 1x" />
            <img class="logo" src="../assets/logo/spotted-logo-green.png" draggable="false" alt="Spotted">
        </picture>
        </a>

        <nav class="little-nav">
            <a href="https://qjack001.github.io/Spotted/blog/">&nbsp; Blog &nbsp;</a>
            <p>&nbsp; / &nbsp;</p>
            <a href="https://qjack001.github.io/Spotted/">&nbsp; Catalog &nbsp;</a> 
            <p>&nbsp; / &nbsp;</p>
            <a href="https://qjack001.github.io/Spotted/about/">&nbsp; About &nbsp;</a> 
        </nav>

    </div>
</header>