
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <link rel="canonical" href="http://spotted.site/" />
    <meta property="og:url" content="http://spotted.site.com/" />
    <meta name="author" content="Jack Guinane" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" href="https://qjack001.github.io/Spotted/favicon.ico" type="image/png" />
    <link id="favicon" rel="shortcut icon" type="image/png" href="https://qjack001.github.io/Spotted/favicon.ico">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Spotted" />
    <meta name="superfish" content="nofish">
    <meta name="theme-color" content="#f2fde6">
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.image %}
    <meta property="og:type" content="article" />
    <meta name="twitter:image" content="http://spotted.site.com{{ page.image }}" />
    <meta property="og:image" content="http://spotted.site.com{{ page.image }}" />
    {% endif %}