
<script>
    var snaps = 0;
    var time = 10;
    var phrase = 
    [
        "YES",
        "GO OFF",
        "YASSS GIRL",
        "LICK IT",
    ];

    function snap()
    {
        document.getElementById("num-of-snaps").style = "transition: all 0s linear; opacity: 1;";
        document.getElementById("snap-text").style = "transition: all 0.1s linear; opacity: 0.4;";
        snaps++;
        document.getElementById("num-of-snaps").textContent = snaps;
        time = 0;

        if(snaps < 4)
        {
            document.getElementById("snap-text").textContent = phrase[0];
        }
        else if(snaps < 8)
        {
            document.getElementById("snap-text").textContent = phrase[1];
        }
        else if(snaps < 12)
        {
            document.getElementById("snap-text").textContent = phrase[2];
        }
        else
        {
            document.getElementById("snap-text").textContent = phrase[3];
        }
    }

    setInterval(function() 
    {
        if(time < 10)
        {
            time++;
        }
        else if(time == 10)
        {
            time = 11;
            document.getElementById("num-of-snaps").style = "transition: all 0.45s ease-out; opacity: 0;"
        }
    }, 35 );
</script>

<div class="snap-box">
    <h6 id="num-of-snaps" class="invisible">0</h6>
    <div id="snapper-wrapper">
        <div id="snapper" onclick="snap()"></div>
    </div>
    <p id="snap-text">Lick it</p>
</div>