---
const baseUrl = import.meta.env.PUBLIC_BASE_URL
---
<footer>
	<a href={baseUrl}>
		Return to all plants
	</a>
</footer>

<style>
	footer
	{
		width: 100%;
		margin: 6rem 0 8rem;
		text-align: center;
	}

	a
	{
		color: hsl(var(--green) / 1);
		text-decoration: none;
		font-family: var(--font);
		font-style: italic;
		font-size: 1.6rem;

		background-image: linear-gradient(hsl(var(--green) / 1), hsl(var(--green) / 1));
		background-size: 0% 1.6px;
		background-position: left bottom;
		background-repeat: no-repeat;

		transition: background-size 0.3s ease;
	}

	a:hover,
	a:focus
	{
		background-size: 100% 1.6px;
	}
</style>