---
layout: default
---

<style>.little-nav{display:inline;margin:35px 0px 0px 0px;float:right}.little-header{width:95%;margin:30px auto}nav>a,nav>p{text-decoration:none;letter-spacing:1px;font-size:1rem;display:inline;font-family:var(--lydian)}.little-nav>a,.little-nav>p{color:var(--soft-dark-green)}.blog-image{max-width:100%;margin:10px auto 50px auto}.latin-name{font-family:var(--apercu);font-size:1rem;color:var(--dark-green);text-align:center;margin-bottom:55px;letter-spacing:1px}.blog-post>h1{font-family:var(--lydian);font-size:3.1rem;color:var(--black);margin-bottom:10px}.blog-post{text-align:center;margin:100px auto 60px auto}.logo{width:200px}@media only screen and (max-width:670px){.blog-post>h1{margin-top:150px}body{margin:0}nav>a{display:block;font-size:2.5rem;line-height:3.5rem}nav>p{display:none}.little-nav{text-align:right;margin:0px 0px 0px -100px}}@media only screen and (max-width:470px){.logo{width:100px}}</style>

{% include little-header.html %}

<article class="blog-post">
    <h1>{{ page.title }}</h1>
    <div class="latin-name">
        {{ page.author }} &nbsp; &nbsp; &nbsp; / &nbsp; &nbsp; &nbsp; {{ page.date | date: "%B %e, %Y" }}
    </div>
    <img class="blog-image" alt="hero image" src="{{ site.baseurl }}{{ page.image }}">

    <div class="entry">
        {{ content }}
        <br>
    </div>

    {% include disqus.html %}
</article>

{% include footer.html %}
