<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

        {% include meta.html %}

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    </head>

    <body>
        {% include little-header.html %}
        {% include big-header.html %}
        {{ content }}
    </body>
</html>
