<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        
        <title>{% if page.common-name %}{{ page.common-name }} - {% endif %}{{ site.name }}</title>
        <style>:root{--background: #f2fde6;--highlight: #f8fff1;--light-green: #38e866;--dark-green: #3c9c55;--black: #000000;--white: #ffffff;--soft-dark-green: rgba(104, 153, 97, 0.75);--soft-black: rgba(0, 0, 0, 0.75);--soft-white: rgba(255, 255, 255, 0.75);--lydian: Lydian, serif;--apercu: Apercu, sans-serif;--apercu-mono: "Apercu Mono", monospace}html{margin:0;background-color:var(--background)}</style>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    </head>

<!--
###############################################################
      
       |
     .'|'.      __  ____   ___   ____, ____, ____, ____
    /.'|\ \    (/_' ||__) /  \\ ' ||  ' ||   ||_ ' ||  \
    | /|'.|    ._/) ||    \__//   ||    ||   ||__, ||__/
     \ |\/
      \|/     add us on github: https://github.com/qjack001
       `            https://github.com/Ella-Minicola
       
###############################################################
-->

    <body>
        {{ content }}
        
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </body>
</html>
