---
layout: default
---

{% include little-header.html %}

<article class="post">
    <div class="plant-image" style="background-image: url('{{ site.baseurl }}{{ page.img }}');"></div>
    <h1>{{ page.common-name }}</h1>
    <div class="latin-name">
        {{ page.latin-name }}
    </div>
    <div class="data">
        Native to: {{ page.data.native-to }}
        Ideal climate: {{ page.data.ideal-climate }}
        Type: {{ page.data.type }}
        Height range: {{ page.data.height-range }}
        Sun: {{ page.data.sun }}
        Water: {{ page.data.water }}
    </div>

    <div class="entry">
        {{ content }}
        <hr>
        <p class="byline">Added by {{ page.author }} on {{ page.date | date: "%B %e, %Y" }}.</p>
    </div>

    {% include disqus.html %}
</article>

{% include footer.html %}
