---
layout: default
---

{% include little-header.html %}

<article class="post">
    <div class="plant-image" style="background-image: url('{{ site.baseurl }}{{ page.image }}');"></div>
    <h1>{{ page.common-name }}</h1>
    <div class="latin-name">
        {{ page.data.latin-name }}
    </div>
    <table class="data">
        <tr>
            <td><strong>Native to:</strong> {{ page.data.native-to }}</td>
            <td><strong>Ideal climate:</strong> {{ page.data.ideal-climate }}</td>
            <td><strong>Type:</strong> {{ page.data.type }}</td>
        </tr>
        <tr>
            <td><strong>Height range:</strong> {{ page.data.height-range }}</td>
            <td><strong>Sun:</strong> {{ page.data.sun }}</td>
            <td><strong>Water:</strong> {{ page.data.water }}</td>
        </tr>
    </table>

    <div class="entry">
        {{ content }}
        <br><br>
        <p class="byline">Added by {{ page.author }} on {{ page.date | date: "%B %e, %Y" }}.</p>
    </div>

    {% include disqus.html %}
</article>

{% include footer.html %}
